.logo {
    position: relative;
    margin-right: 500px;
}

.container {
    width: 100%;
    max-width: 1208px;
    margin: 0 auto;
   

}

.header-flex {
    display: flex;
    justify-content: space-between;
}

nav ul {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

li a {
    color: whitesmoke;
    font-family: roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}